<template>
  <filter-template @submit="filter()">
    <v-row>
      <v-col cols="12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </v-col>
      <v-col cols="12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </v-col>
      <v-col cols="12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </v-col>
      <v-col cols="12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </v-col>
      <v-col cols="12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </v-col>
    </v-row>
  </filter-template>
</template>
<script>
import FilterTemplate from '@/app/arch/components/crud/components/FilterTemplate.vue';

export default {
  name: 'ClientFilter',
  components: { FilterTemplate },
  data: () => ({
    payload: {
    },
  }),
  methods: {
  },
};
</script>
