<template>
  <page-template>
    <template slot="content">
      <v-row>
        <v-col>
          <v-card elevation="0">
            <div
              v-if="$route.name != 'home.list'"
              class="d-flex align-center justify-end pa-3 pl-2"
            >
              <v-spacer />
              <component
                :is="filterComponent"
                v-show="false"
                v-if="filterComponent"
              />
            </div>
            <component
              :is="pageContent"
            />
          </v-card>
        </v-col>
      </v-row>
    </template>
  </page-template>
</template>

<script>
import PageTitle from 'Arch/template/PageTitle.vue';
import PageTemplate from 'Arch/template/PageTemplate.vue';
import RouterMixin from 'Arch/mixins/RouterMixin';
import NotificationMixin from '../../mixins/NotificationMixin';

export default {
  name: 'CrudListTemplate',
  components: {
    PageTitle,
    PageTemplate,
  },
  mixins: [RouterMixin, NotificationMixin],
  computed: {
    getDisplayRemoveValue() {
      return this.$store.state.getDisplayRemoveValue;
    },
    searchOptions() {
      return this.$route.meta.crud.searchOptions;
    },
    searchComponent() {
      return this.$route.meta.crud.searchComponent;
    },
    filterComponent() {
      return this.$route.meta.crud.filterComponent;
    },
    pageTitle() {
      return this.$route.meta.crud.pageTitle;
    },
    navigateBackRoute() {
      return this.$route.meta.crud.navigateBackRoute;
    },
    btnText() {
      return this.$route.meta.crud.btnText;
    },
    newRouteName() {
      return this.$route.meta.crud.newRouteName;
    },
    pageContent() {
      return this.$route.meta.crud.pageContent;
    },
    reportComponent() {
      return this.$route.meta.crud.reportComponent;
    },
    totalsComponent() {
      return this.$route.meta.crud.totalsComponent;
    },
    displayRemoveButton() {
      return this.$store.getters.getRemovedCrudListDisplayValue;
    },
  },
  methods: {
    deleteSelectedRows() {
      this.$store.state.crudList.removeAllSelectedRows = true;
    },
  },
};
</script>
