<template>
  <data-table
    :key="key"
    :action-options="actionOptions"
    :data="rows"
    :disable-set-query-string="disableSetQueryString"
    :headers="headers"
    :hide-delete="hideDelete"
    :hide-edit="hideEdit"
    :loading="loading"
    :table-name="tableName"
    :total-items="totalItens"
    :has-totals="hasTotals"
    :list-property-name="listPropertyName"
    :selected-rows="selectedRows"
    :select="selectRows"
    @delete="deleteAction($event)"
    @edit="editAction($event)"
    @update-order="orderUpdated($event)"
    @update-page="pageUpdated($event)"
    @update-rows-per-page="rowsPerPageUpdated($event)"
    @select-all="selectedAllRows($event)"
  />
</template>

<script>
import DataTable from 'Arch/components/data-table/DataTable.vue';
import DataTableService from 'Arch/components/data-table/DatatableService';
import NotificationMixin from 'Arch/mixins/NotificationMixin';
import QueryStringMixin from 'Arch/components/crud/crud-mixins/QueryStringMixin';
import RouterMixin from 'Arch/mixins/RouterMixin';

export default {
  name: 'CrudList',
  components: {
    DataTable,
  },
  mixins: [RouterMixin, QueryStringMixin, NotificationMixin],
  data: (vm) => ({
    disableSetQueryString: false,
    loading: false,
    hideEdit: false,
    hideDelete: false,
    selectRows: false,
    tableName: vm.$options.name,
    deleteConfirmTextMessage: 'Deseja remover este registro?',
    deleteConfirmTitleMessage: 'Excluir registro',
    deleteErrorTextMessage:
      'Não foi possível remover este registro no momento. Por favor, tente novamente mais tarde.',
    deleteErrorTitleMessage: 'Ocorreu um erro!',
    deleteSuccessTextMessage: 'Registro removido com sucesso.',
    deleteSuccessTitleMessage: 'Registro excluido.',
    actionOptions: [],
    requestClass: null,
    headers: null,
    key: null,
    hasTotals: false,
    listPropertyName: null,
  }),
  watch: {
    totalItens: {
      handler(value) {
        this.$root.$emit(`total-itens-${this.tableName}`, value);
      },
    },
  },
  mounted() {
    this.checkForAttributes();
  },
  beforeCreate() {
    const filters = DataTableService.getFilters(this.$options.name);
    if (Object.keys(this.$route.query).length === 0 && filters !== null) {
      this.$router.push({ query: filters });
    }
  },
  created() {
    this.unwatch = this.$store.watch((state) => {
      if (state.crudList.removeAllSelectedRows) {
        this.removeSelectedRows();
      }
    });
  },
  beforeDestroy() {
    this.unwatch();
  },
  methods: {
    checkForAttributes() {
      if (this.headers === null) {
        throw new Error(
          `Headers do component: ${this.$options.name} não especificados`,
        );
      }
      if (this.requestClass === null) {
        throw new Error(
          `Classe de request não especificada para o componente: ${this.$options.name}`,
        );
      }
      if (!this.hideEdit && !this.editRoute) {
        throw new Error('Rota de edição não definida');
      }
      return true;
    },
    getData() {
      this.loading = true;
      this.makeRequest();
    },
    makeRequest() {
      this.makeRestRequest();
    },
    makeRestRequest() {
      const params = this.getQueryParams();
      this.requestClass
        .list(params)
        .then((response) => {
          this.handleResponse(response);
          this.setSelectRows();
        })
        .catch(() => {
          this.loading = false;
        });
    },
    handleResponse(response) {
      this.setRowsAndTotalItens(
        this.getResponseRows(response),
        this.getResponseTotalRows(response),
      );
    },
    getResponseRows(response) {
      if (this.hasTotals) {
        this.$root.$emit('totals', response);
      }
      if (response.data) {
        if (response.data.content) {
          return response.data.content;
        }
        if (this.listPropertyName) {
          return response.data[this.listPropertyName];
        }
        return Array.isArray(response.data.data)
          ? response.data.data
          : [response.data];
      }
      return response.data.content;
    },
    getResponseTotalRows(response) {
      return response.data.total;
    },
    setRowsAndTotalItens(rows, total) {
      this.totalItens = total;
      this.rows.splice(0);
      this.rows.push(...rows.map((item) => this.mapRequestItem(item)));
      this.loading = false;
    },
    editAction(item) {
      this.navigateTo(this.editRoute, { id: item.id }).catch(() => {});
    },
    deleteAction(row) {
      this.showConfirmDeleteDialog({
        title: this.deleteConfirmTitleMessage,
        text: this.deleteConfirmTextMessage,
      }).then((data) => {
        if (data.value) {
          this.makeDelete(row)
            .then(() => {
              this.removeFromListAfterDelete(row);
              this.deleteSuccess(data);
            })
            .catch((error) => {
              this.deleteError(error);
            })
            .finally(() => {
              this.getData();
            });
        }
      });
    },
    removeFromListAfterDelete(row) {
      const indexDeleted = this.rows.indexOf(row);
      this.rows.splice(indexDeleted, 1);
    },
    makeDelete(row) {
      return this.makeRestDelete(row);
    },
    makeRestDelete(row) {
      return this.requestClass.remove(row.id);
    },
    deleteSuccess() {
      this.showSuccessToast({
        title: 'Sucesso!',
        text: this.deleteSuccessTextMessage,
      });
    },
    deleteError() {
      this.showErrorToast({
        title: this.deleteErrorTitleMessage,
        text: this.deleteErrorTextMessage,
      });
    },
    mapRequestItem(item) {
      if (typeof this.mapItemMethod !== 'undefined') {
        return this.mapItemMethod(item);
      }

      return item;
    },
    selectedAllRows(value) {
      if (value) {
        this.handleContentListRows(true);
      } else {
        this.handleContentListRows(false);
      }
    },
    setSelectRows() {
      this.selectedRows = [
        ...this.rows.map(({ id }) => ({ value: false, id })),
      ];
      this.setSelectedRowsContext(this.selectedRows);
    },
    setSelectedRowsContext(value) {
      this.$store.commit('handleCrudListRemovedRows', value);
    },
    removeSelectedRows() {
      this.showConfirmDeleteDialog({
        title: this.deleteConfirmTitleMessage,
        text: this.deleteConfirmTextMessage,
      }).then((data) => {
        if (data.value) {
          this.makeDeleteSelecteRows();
        }
      });
      this.$store.state.crudList.removeAllSelectedRows = false;
    },
    makeDeleteSelecteRows() {
      this.$store.state.crudList.selectedRowsForRemove.forEach(({ value, id }, rowPosition) => {
        if (value) {
          this.requestClass.remove(id)
            .then(() => this.removeFromListAfterDelete(this.rows[rowPosition]))
            .catch((err) => this.errors.push(err));
        }
      });
      this.responseDeleteSelectedRows();
    },
    responseDeleteSelectedRows() {
      if (this.errors.length) {
        this.deleteError();
      } else {
        this.handleValueAllSelectedRows(false);
        this.showSuccessToast();
      }
    },
    handleValueAllSelectedRows(value) {
      this.selectedRows = this.selectedRows.map(({ id }) => ({
        value,
        id,
      }));
    },
    handleContentListRows(value) {
      this.handleValueAllSelectedRows(value);
      this.setSelectedRowsContext(this.selectedRows);
      this.$store.commit('handleCrudListRemove');
    },
    refleshCrud() {
      this.$root.$on(`refresh-crud-${this.tableName}`, () => {
        this.getData();
      });
    },
  },
};
</script>
