$body-font-family: 'Nunito Sans'

.swal2-icon-content
  margin: 0 auto !important
  margin-left: auto !important
  margin-right: auto !important

.dialog-success-container
  .swal2-popup.swal2-toast
    background-color: var(--v-success-base)
    max-width: 330px

.dialog-error-container
  .swal2-popup.swal2-toast
    background-color: var(--v-error-base)
    max-width: 330px

.dialog-warning-container
  .swal2-popup.swal2-toast
    background-color: var(--v-warning-base)
    max-width: 330px

.swal2-icon
  border-color: white !important
  border-width: 3px
  .swal2-icon-content
    margin-left: 15px

.dialog-confirm-title,
.dialog-ok-title
  color: #A91314
  font-size: 24px !important
  text-align: left !important
  font-family: $body-font-family
  padding-top: 15px

.dialog-content
  color: #0F0F0F
  font-family: $body-font-family
  font-size: 16px

.dialog-ok-container,
.dialog-confirm-container
  .dialog-content
    color: var(--v-neutral-base)
    font-family: $body-font-family
    text-align: left !important

.swal2-toast .dialog-content
  padding-left: 0px

.swal2-actions
  margin-top: 10px
  justify-content: flex-end

.swal2-header
  align-items: flex-start !important

.dialog-confirm-button-class
  color: var(--v-primary-base) !important
  font-family: 'Roboto'
  font-size: 16px !important
  font-weight: 500
  height: 46px
  margin: 0px
  padding: 0 5px
  &:focus 
    box-shadow: none

.dialog-cancel-button-class
  color: #B8B6B6 !important
  font-family: $body-font-family
  font-size: 16px !important
  font-weight: bold
  height: 46px
  margin: 0px
  padding: 0 15px
  &:focus 
    box-shadow: none
