<template>
  <v-card>
    <v-container
      fluid
      class="pt-8 mb-8"
    >
      <v-row class="mb-8">
        <v-col
          cols="12"
          class="pl-8"
        >
          <h1>
            CAIXA
          </h1>
        </v-col>
        <v-col
          cols="12"
          class="d-flex px-8 align-center"
        >
          <span
            style="color: #4477ad; font-size: 20px"
          >
            Exibindo {{ items.length }} de {{ items.length }} produtos encontrados
          </span>
          <v-spacer />
          <v-switch
            v-model="filterPromo"
            label="Promoções"
            color="secondary"
          />
          <v-btn
            icon
            x-large
            class="ml-4"
            color="primary"
            @click="gridView(true)"
          >
            <v-icon>
              mdi-view-grid
            </v-icon>
          </v-btn>
          <v-btn
            icon
            x-large
            class="ml-4"
            color="primary"
            @click="gridView(false)"
          >
            <v-icon
              large
              style="font-size: 40px !important"
            >
              mdi-view-list
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-fade-transition mode="out-in">
        <v-container
          :key="`Items${cols}`"
          fluid
        >
          <v-row>
            <v-col
              v-for="(item, index) in items"
              :key="`moduleRoute-${index}`"
              :cols="cols"
              class="mb-5"
            >
              <v-hover v-slot:default="{ hover }">
                <v-card
                  class="mx-auto"
                  :height="isGridView ? '' : '150px'"
                  :max-width="isGridView ? '450' : ''"
                  :elevation="hover ? 5 : ((!isGridView) ? 1 : 0 )"
                  :class="!isGridView ? ['d-flex', 'align-center', 'pl-8'] : ''"
                  @click="() => $root.$emit('open-dialog', {})"
                >
                  <v-img
                    v-if="isGridView"
                    :src="require('Assets/caixa.jpg')"
                    height="225px"
                    class="mb-4"
                  >
                    <div class="divLike">
                      <v-btn
                        icon
                      >
                        <v-icon
                          :color="index % 2 == 0 ? '#ee5253' : ''"
                        >
                          mdi-heart
                        </v-icon>
                      </v-btn>
                    </div>
                    <div
                      v-if="index % 2 == 0"
                      class="divPromotion"
                    >
                      <v-icon
                        color="secondary"
                        style="font-size: 60px"
                      >
                        mdi-octagram
                      </v-icon>
                      <span class="divPromotion__span">-30%</span>
                    </div>
                  </v-img>
                  <v-avatar
                    v-else
                    size="52"
                  >
                    <v-img :src="require('Assets/caixa.jpg')" />
                  </v-avatar>

                  <v-card-title class="h2Header bold secondary500 py-1 pl-8">
                    {{ item.name }}
                  </v-card-title>

                  <v-card-subtitle class="h3Header secondary400 pl-8 mt-4">
                    <v-row>
                      <v-col cols="12">
                        <span
                          class="body1 bold text-decoration-line-through font-weight-light"
                        >
                          ${{ item.oldValue }}
                        </span>
                      </v-col>
                      <v-col cols="12">
                        <span class="h1Header bold">${{ item.value }}</span>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field
                          append-outer-icon="mdi-plus"
                          prepend-icon="mdi-minus"
                          outlined
                        />
                      </v-col>
                    </v-row>
                  </v-card-subtitle>

                  <div
                    v-if="index % 2 == 0 && !isGridView"
                    class="divPromotion"
                  >
                    <v-icon
                      color="secondary"
                      style="font-size: 60px"
                    >
                      mdi-octagram
                    </v-icon>
                    <span class="divPromotion__span">-30%</span>
                  </div>
                  <div
                    v-if="!isGridView"
                    class="divLike"
                  >
                    <v-btn
                      icon
                    >
                      <v-icon
                        :color="index % 2 == 0 ? '#ee5253' : ''"
                      >
                        mdi-heart
                      </v-icon>
                    </v-btn>
                  </div>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>
        </v-container>
      </v-fade-transition>
    </v-container>
  </v-card>
</template>

<script>

export default {
  name: 'ModulesList',
  data() {
    return {
      cols: 4,
      items: [],
      filterPromo: true,
    };
  },
  computed: {
    moduleList() {
      return this.$router.options.routes[0].children.filter((item) => this.isModule(item));
    },
    isGridView() {
      return this.cols === 4;
    },
  },
  mounted() {
    const base = {
      name: 'Caixa Lorem ipsum dolor sit amet',
      value: 1000,
      oldValue: 2000,
      info: 'Lorem ipsum dolor sit amet.',
    };
    for (let index = 1; index < 15 + 1; index += 1) {
      this.items.push({
        ...base,
        id: index,
      });
    }
  },
  methods: {
    gridView(grid) {
      this.changeCols(grid ? 4 : 12);
    },
    changeCols(cols) {
      if (this.cols === cols) {
        return;
      }
      this.cols = cols;
    },
  },
};
</script>
<style scoped>
.divLike {
  position: absolute;
  right: 15px;
  top: 10px;
}
.divPromotion {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 60px;
  height: 35px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Nunito Sans';
  padding: 5px;
}
.divPromotion__span {
  position: absolute;
}
</style>
