<template>
  <div>
    <div
      class="d-flex align-center justify-space-between pointer px-3 py-2 h3Header secondary300"
      :class="{sidebarSubModuleActive: isActive}"
      @click="dialog=true"
    >
      <span>{{ title }}</span>
      <v-icon :color="isActive ? 'primary' : '#6A6E7B'">
        mdi-chevron-right
      </v-icon>
    </div>
    <sidebar-dialog
      v-model="dialog"
      :title="title"
    >
      <div
        v-for="(child, index) in children"
        :key="`subModuleChild-${index}`"
        class="mb-6"
        @click="dialog= false"
      >
        <router-link :to="{ name: child.name }">
          <div class="h2Header secondary300">
            {{ child.meta.card.title }}
          </div>
        </router-link>
      </div>
    </sidebar-dialog>
  </div>
</template>

<script>
import SidebarDialog from 'Arch/template/SidebarDialog.vue';

export default {
  name: 'SidebarSubModule',
  components: { SidebarDialog },
  props: {
    subModule: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      dialog: false,
    };
  },
  computed: {
    children() {
      return this.subModule.children.filter((item) => !!item.meta.card);
    },
    title() {
      return this.subModule.meta.subModuleTitle;
    },
    isActive() {
      const actualRouteSubModuleName = this.$route.meta.subModuleActive;
      const subModuleName = this.subModule.name;
      const isSubmoduleActive = actualRouteSubModuleName === subModuleName;
      return this.dialog || isSubmoduleActive;
    },
  },
};
</script>

<style>

.sidebarSubModuleActive {
  background: linear-gradient(0deg, rgba(241, 95, 95, 0.14), rgba(241, 95, 95, 0.14)), #FFFFFF;
  border-radius: 4px;
  font-weight: bold !important;
  color: var(--v-primary-base) !important
}
</style>
