<template>
  <div>
    <div class="ml-6 mr-7">
      <div
        v-for="(route, index) in routes"
        :key="`route-${index}`"
      >
        <router-link
          v-if="route.isRoute"
          :key="`route-${index}`"
          :to="{ name: route.name }"
        >
          <div
            class="px-3 py-2"
            :class="getActiveClass(route)"
          >
            <span><v-icon class="menuIcon">{{ route.icon }}</v-icon></span>
            <span class="ml-2 menuLabel h3Header secondary300">{{ route.label }}</span>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

function buildRoute(label, icon, name, isRoute = true) {
  return {
    icon,
    label,
    name,
    isRoute,
  };
}

export default {
  name: 'SidebarMenu',
  components: {
  },
  data: () => ({
    panel: null,
    routes: [
      // buildRoute('Dashboard', 'mdi-view-dashboard', 'dashboard'),
      // buildRoute('Notificações', 'mdi-bell', '#', false),
      // buildRoute('Administradores', 'mdi-shield-account-variant', 'administrator.list'),
      // buildRoute('Empresas', 'mdi-domain', 'company.list'),
      buildRoute('Exemplo', 'mdi-account-box', 'teste.list'),
    ],
    interval: null,
  }),
  computed: {
    modules() {
      return this.$router.options.routes[0].children
        .filter((item) => item.meta && item.meta.module)
        .filter((item) => !!item.children.length);
    },
  },
  watch: {
    $route: {
      immediate: true,
      handler: 'updateModulePanel',
    },
  },
  created() {
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  methods: {
    updateModulePanel() {
      const actualRouteModuleName = this.$route.meta.moduleActive;
      const moduleIndex = this.modules.findIndex(
        (item) => item.meta.module.moduleId === actualRouteModuleName,
      );
      this.panel = moduleIndex;
    },
    getActiveClass(route) {
      const actualRouteName = this.$route.name;
      if (actualRouteName === route.name) {
        return this.activeClass;
      }
      return {};
    },
  },
};
</script>
<style scoped>
.footer-logout {
    position: absolute;
    width: 100%;
    bottom: 0;
}
</style>
