<template>
  <v-expansion-panel>
    <v-expansion-panel-header
      expand-icon=""
      class="secondary300"
    >
      <div
        class="px-3 py-2"
        :class="isActiveClass"
      >
        <span><v-icon class="menuIcon">{{ moduleIcon }}</v-icon></span>
        <span class="ml-2 menuLabel h3Header">{{ moduleName }}</span>
      </div>
    </v-expansion-panel-header>
    <v-expansion-panel-content class="h3Header secondary300">
      <div
        v-for="(child, index) in children"
        :key="`child-${index}`"
      >
        <sidebar-sub-module
          v-if="isSubModule(child)"
          :sub-module="child"
        />
        <router-link
          v-else
          :to="{ name: child.name }"
        >
          <sidebar-link :route="child" />
        </router-link>
      </div>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import SidebarSubModule from 'Arch/template/sidebar/SidebarSubModule.vue';
import SidebarLink from 'Arch/template/sidebar/SidebarLink.vue';
import SidebarMixin from 'Arch/template/sidebar/SidebarMixin';

export default {
  name: 'SidebarModule',
  components: {
    SidebarSubModule,
    SidebarLink,
  },
  mixins: [SidebarMixin],
  props: {
    routeModule: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isActiveClass() {
      const routeModuleName = this.routeModule.meta.module.moduleId;
      const actualRouteModuleName = this.$route.meta.moduleActive;

      if (routeModuleName === actualRouteModuleName) {
        return this.activeClass;
      }
      return {};
    },
    moduleIcon() {
      return this.routeModule.meta.module.moduleIcon;
    },
    moduleName() {
      return this.routeModule.meta.module.moduleName;
    },
    children() {
      return this.routeModule.children.filter(
        (item) => this.showOnSidebar(item),
      );
    },
  },
  methods: {
    showOnSidebar(item) {
      if (!item.meta) {
        return false;
      }

      if (item.meta.hideFromSidebar) {
        return false;
      }

      if (!item.meta.card && !item.children) {
        return false;
      }

      return true;
    },
    isSubModule(route) {
      return route.meta?.isSubModule || false;
    },
  },
};
</script>

<style>
.menuActive {
  border-radius: 4px;
}

.menuActive .menuLabel {
  color: white !important;
  font-weight: bold !important;
}

.menuActive .menuIcon {
  color: white !important;
}
</style>
