<template>
  <div
    class="px-3 py-2"
    :class="{ subMenuActive: isActive, bold: isActive, primary500: isActive }"
  >
    <span>{{ title }}</span>
  </div>
</template>

<script>
export default {
  name: 'SidebarLink',
  props: {
    route: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isActive() {
      return this.route.name === this.$route.name;
    },
    title() {
      return this.route.meta.card.title;
    },
  },
};
</script>

<style>
.subMenuActive {
  background: linear-gradient(0deg, rgba(241, 95, 95, 0.14), rgba(241, 95, 95, 0.14)), #ffffff;
  border-radius: 4px;
}
</style>
