<template>
  <div style="width: 20vw !important">
    <v-container>
      <v-row>
        <v-col class="pa-3 pl-8">
          <span class="h5Header secondary400 mt-8" />
        </v-col>
      </v-row>
    </v-container>
    <v-container
      class="pa-6 flex-grow-1"
    >
      <v-card
        class="pa-4 fill-height"
        elevation="0"
      >
        <v-row class="fill-height">
          <v-col class="fill-height">
            <!-- TODO: filros -->
            <slot />
            <v-expansion-panels
              v-model="panel"
              multiple
            >
              <v-expansion-panel class="mb-2">
                <v-expansion-panel-header
                  :expand-icon="panel.includes(0) ? 'mdi-minus' : 'mdi-plus'"
                >
                  Elétrica
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <input-text
                    label="Buscar"
                    append-icon="mdi-magnify"
                    hide-details
                    dense
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Cabo"
                    value="Cabo"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Caixa de luz"
                    value="Caixa de luz"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Disjuntores"
                    value="Disjuntores"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Iluminação"
                    value="Iluminação"
                    hide-details
                  />
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel class="mb-2">
                <v-expansion-panel-header
                  :expand-icon="panel.includes(1) ? 'mdi-minus' : 'mdi-plus'"
                >
                  Hidraulica
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <input-text
                    label="Buscar"
                    append-icon="mdi-magnify"
                    hide-details
                    dense
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Bombas"
                    value="Bombas"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Descarga"
                    value="Descarga"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Drenagem"
                    value="Drenagem"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Hidrometro"
                    value="Hidrometro"
                    hide-details
                  />
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel class="mb-2">
                <v-expansion-panel-header
                  :expand-icon="panel.includes(2) ? 'mdi-minus' : 'mdi-plus'"
                >
                  Preço
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <input-text
                    label="Buscar"
                    append-icon="mdi-magnify"
                    hide-details
                    dense
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Menos de $90"
                    value="<90"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="$90 - $300"
                    value="90-300"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="$300 - $600"
                    value="300-600"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="$600 - $900"
                    value="600-900"
                    hide-details
                  />
                  <v-checkbox
                    v-model="selected"
                    label="Acima de $900"
                    value=">900"
                    hide-details
                  />
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel
                v-for="(item, index) in filters"
                :key="index"
                class="mb-2"
              >
                <v-expansion-panel-header
                  :expand-icon="panel.includes(3+index) ? 'mdi-minus' : 'mdi-plus'"
                >
                  Panel {{ index+1 }}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <input-text
                    label="Buscar"
                    append-icon="mdi-magnify"
                    hide-details
                    dense
                  />
                  Some content
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn
              class="my-4"
              block
              color="secondary"
              large
            >
              <v-icon
                left
                color="primary"
              >
                mdi-filter-variant
              </v-icon>
              FILTRAR
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'SideBarFilter',
  props: {
    value: {
      type: Boolean,
      required: false,
    },
    title: {
      type: String,
      default: 'Filtros',
    },
  },
  data() {
    return {
      panel: [0, 1, 2, 3, 4, 5],
      selected: [],
      range: [20, 70],
      filters: [],
    };
  },
  mounted() {
    const base = {
      label: 'Panel',
    };
    for (let index = 0; index < 3; index += 1) {
      this.filters.push({
        ...base,
        id: index,
      });
    }
  },
};
</script>
