<template>
  <v-container>
    <v-row>
      <v-col>
        <page-title
          :title="parentTitle"
          back-to="dashboard"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col
        v-for="(notSubModuleRoute, index) in childrenNotSubModules"
        :key="`notSubModuleRoute-${index}`"
        cols="3"
      >
        <sub-modules-children-cards :module-route="notSubModuleRoute" />
      </v-col>
    </v-row>
    <v-row
      v-for="(subModuleRoute, index) in childrenSubModules"
      :key="`subModuleRoute-${index}`"
    >
      <v-col
        cols="12"
      >
        <v-divider />
      </v-col>
      <v-col
        cols="12"
      >
        <div class="h2Header secondary300">
          {{ subModuleRoute.meta.subModuleTitle }}
        </div>
      </v-col>
      <v-col
        v-for="(subModuleRouteChild, indexChild) in getSubmoduleChildren(subModuleRoute)"
        :key="`subModuleRouteChild-${indexChild}`"
        cols="3"
      >
        <sub-modules-children-cards :module-route="subModuleRouteChild" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import SubModulesChildrenCards from 'Arch/modules-pages/components/SubModulesChildrenCard.vue';
import PageTitle from 'Arch/template/PageTitle.vue';

export default {
  name: 'SubModuleList',
  components: {
    SubModulesChildrenCards, PageTitle,
  },
  computed: {
    parentTitle() {
      return this.parent.meta.module.moduleName;
    },
    parent() {
      const routeParentId = this.$route.meta.moduleActive;

      return this.$router.options.routes[0].children.find(
        (item) => item.meta?.module?.moduleId === routeParentId,
      );
    },
    children() {
      const parentChildren = this.parent.children;
      return parentChildren
        .filter((item) => item.name !== this.$route.name);
    },
    childrenNotSubModules() {
      return this
        .children
        .filter((item) => !this.isSubModule(item))
        .filter((item) => !!item.meta && !!item.meta.card);
    },
    childrenSubModules() {
      return this
        .children
        .filter((item) => this.isSubModule(item));
    },
  },
  methods: {
    getSubmoduleChildren(route) {
      return route.children.filter((item) => !!item.meta && !!item.meta.card);
    },
    isSubModule(route) {
      return route.meta?.isSubModule || false;
    },
  },
};
</script>
