<template>
  <v-card
    class="py-2 d-flex align-center"
    :to="{ name: moduleRoute.name }"
    height="100px"
  >
    <div class="d-flex flex-no-wrap align-center px-5">
      <v-avatar
        size="52"
        color="#FFE6E7"
      >
        <v-icon color="primary">
          mdi-{{ moduleRoute.meta.card.icon }}
        </v-icon>
      </v-avatar>
      <div>
        <v-card-title
          class="h4 gray700 fw600"
          style="word-break: normal"
        >
          {{
            moduleRoute.meta.card.title
          }}
        </v-card-title>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'SubModulesChildrenCards',
  props: {
    moduleRoute: {
      type: Object,
      required: true,
    },
  },
};
</script>
