<template>
  <crud-form
    v-model="payload"
    page-title="Adicionar exemplo"
    :request-class="requestClass"
    :total-group="2"
    navigate-back-route="modulo-um.submodulo.feature-submodulo.list"
    navigate-page-after-save="modulo-um.submodulo.feature-submodulo.list"
    :override-create-payload="overrideCreatePayload"
    :override-edit-payload="overrideEditPayload"
    :override-set-entity-data="overrideSetEntityData"
  >
    <template slot="group-1">
      <form-group title="Dados do exemplo">
        <v-row class="justify-end">
          <v-col cols="6">
            <input-text
              v-model="payload.name"
              :rules="[requiredRule]"
              label="Nome"
            />
          </v-col>
        </v-row>
      </form-group>
    </template>
    <template slot="group-2">
      <form-group title="Sub dados do exemplo">
        <v-row class="justify-end">
          <v-col cols="6">
            <input-text
              v-model="payload.calories"
              :rules="[requiredRule]"
              label="Calorias"
            />
          </v-col>
        </v-row>
      </form-group>
    </template>
  </crud-form>
</template>

<script>
import CrudForm from 'Arch/components/crud/CrudForm.vue';
import ExampleRequest from 'Modules/modulo-um/submodulo/feature-submodulo/ExampleRequest';
import FormGroup from 'Arch/components/crud/components/FormGroup.vue';
import RulesMixin from 'Arch/mixins/RulesMixin';

export default {
  name: 'ExampleForm',
  components: {
    CrudForm,
    FormGroup,
  },
  mixins: [RulesMixin],
  data: () => ({
    requestClass: ExampleRequest,
    payload: {
      name: '',
      calories: '',
    },
  }),
  methods: {
    overrideSetEntityData(data) {
      return { name: data.name, calories: data.calories };
    },
    overrideCreatePayload() {
      return {
        name: this.payload.name,
        calories: this.payload.calories,
      };
    },
    overrideEditPayload() {
      return {
        name: this.payload.name,
        calories: this.payload.calories,
      };
    },

  },
};
</script>
