<template>
  <filter-template @submit="filter()">
    <div>
      <div class="body1 secondary400 bold">
        Dados do exemplo
      </div>
      <div class="mt-4">
        <input-select
          v-model="payload.title"
          :items="items"
          label="Title"
          clearable
        />
      </div>
    </div>
  </filter-template>
</template>

<script>
import FilterTemplate from 'Arch/components/crud/components/FilterTemplate.vue';
import FilterMixin from 'Arch/components/crud/crud-mixins/FilterMixin';

export default {
  name: 'ExampleFilter',
  components: { FilterTemplate },
  mixins: [FilterMixin],
  data() {
    return {
      items: ['Frozen Yogurt', 'Bar', 'Fizz', 'Buzz'],
      payload: {
        title: null,
        name: null,
      },
    };
  },
};
</script>
