<template>
  <v-container
    :class="$route.name == 'home.list' ? 'pa-0' : ''"
    fluid
  >
    <v-row>
      <v-col>
        <slot name="title" />
      </v-col>
    </v-row>
    <slot name="content" />
  </v-container>
</template>

<script>
export default {
  name: 'PageTemplate',
};
</script>
