<template>
  <div>
    <v-sheet
      app
      color="primary"
      style="height: 128px"
      class="d-flex pa-8 justify-center"
    >
      <v-btn
        x-large
        class="my-8"
        color="white"
        plain
      >
        <v-icon left>
          mdi-trophy
        </v-icon>
        Top sells
      </v-btn>
      <v-btn
        x-large
        class="my-8"
        color="white"
        plain
      >
        <v-icon left>
          mdi-brightness-percent
        </v-icon>
        Promoções
      </v-btn>
      <v-btn
        x-large
        class="my-8"
        color="white"
        plain
      >
        <v-icon left>
          mdi-chat-alert
        </v-icon>
        Lançamentos
      </v-btn>
    </v-sheet>
    <v-app-bar
      app
      color="primary"
      elevation="0"
      class="justify-space-around"
    >
      <!-- <v-app-bar-nav-icon
        class="white--text"
        @click.stop="drawer = !drawer"
      /> -->
      <v-spacer />
      <router-link
        :to="{name: 'home.list'}"
      >
        <img
          :src="require('Assets/logo.png')"
          height="42"
        >
      </router-link>
      <v-spacer />
      <v-toolbar-title class="mb-8 search--width">
        <input-text
          append-icon="mdi-magnify"
          placeholder="O que você está procurando?"
          hide-details
          rounded
          dense
          class="input--white mt-8"
        />
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        plain
        x-large
        class="mx-8"
        color="white"
      >
        <v-icon
          left
        >
          mdi-account
        </v-icon>
        Olá, user
      </v-btn>
      <v-btn
        icon
        x-large
        class="ml-8"
        color="white"
        @click="deliveryData = true"
      >
        <v-icon>
          mdi-cube-send
        </v-icon>
      </v-btn>
      <v-btn
        icon
        x-large
        class="ml-2"
        color="white"
      >
        <v-badge
          :content="10"
          :value="10"
          overlap
          color="secondary"
          @click="() => $root.$emit('open-dialog', {})"
        >
          <v-icon>
            mdi-cart
          </v-icon>
        </v-badge>
      </v-btn>
      <v-btn
        icon
        x-large
        class="ml-2"
        color="white"
      >
        <v-icon>
          mdi-notebook-edit-outline
        </v-icon>
      </v-btn>
      <v-spacer />
    </v-app-bar>
    <!-- <v-navigation-drawer
      v-model="drawer"
      app
    >
      <div class="my-5" />
      <sidebar-menu />
    </v-navigation-drawer> -->

    <v-dialog
      v-model="deliveryData"
      transition="dialog-top-transition"
      max-width="600"
    >
      <template v-slot:default="dialog">
        <v-card>
          <v-toolbar
            color="primary"
            dark
          >
            Delivery data
          </v-toolbar>
          <v-card-text>
            <div class="text-h2 pa-12">
              Lorem ipsum
            </div>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn
              text
              @click="dialog.value = false"
            >
              Fechar
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>

    <v-main class="pt-0">
      <div class="d-flex">
        <v-sheet
          v-if="$route.name != 'home.list'"
          class="fill-height flex-grow-1"
          width="45%"
        >
          <side-bar-filter />
        </v-sheet>
        <div class="flex-grow-1 px-0">
          <router-view />
        </div>
      </div>
    </v-main>
  </div>
</template>

<script>
// import SidebarMenu from 'Arch/template/sidebar/SidebarMenu.vue';
import SideBarFilter from 'Arch/template/filter/SideBarFilter.vue';

export default {
  components: {
    // SidebarMenu,
    SideBarFilter,
  },
  data: () => ({
    drawer: false,
    deliveryData: false,
  }),
};
</script>
<style scoped>
.input--white {
    background: white !important;
}
.search--width {
  width: 40vw;
  margin-left: 150px;
}
</style>
