<template>
  <div
    @mouseover="setHover(true)"
    @mouseleave="setHover(false)"
    @click="toggleOrder()"
  >
    <span>{{ header.text }} </span>
    <v-icon
      v-if="isSortable"
      class="orderArrow"
      :class="arrowClasses"
      small
    >
      mdi-menu-down
    </v-icon>
  </div>
</template>

<script>
export default {
  name: 'DataTableHeaderCell',
  props: {
    header: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    hover: false,
    sortDir: null,
  }),
  computed: {
    arrowClasses() {
      return {
        inHover: this.hover && !this.sortDir,
        arrowUp: this.sortDir === 'ASC',
        arrowDown: this.sortDir === 'DESC',
      };
    },
    isSortable() {
      return this.header.sortDir === undefined || this.header.sortDir;
    },
  },
  watch: {
    '$route.query': {
      immediate: true,
      handler(value) {
        const { sortBy, sortDir } = value;
        this.sortDir = null;
        if (sortBy === this.header.value) {
          this.sortDir = sortDir;
        }
      },
    },
  },
  methods: {
    setHover(status) {
      this.hover = status;
    },
    toggleOrder() {
      if (!this.isSortable) {
        return;
      }

      let nextOrder = null;
      if (this.sortDir === null) {
        nextOrder = 'ASC';
      }

      if (this.sortDir === 'ASC') {
        nextOrder = 'DESC';
      }

      if (this.sortDir === 'DESC') {
        nextOrder = null;
      }

      this.sortDir = nextOrder;
      this.$emit('update-order', { column: this.header.value, sortDir: this.sortDir });
    },
  },
};
</script>

<style>
.orderArrow{
  position: absolute;
  opacity: 0
}

.inHover{
  opacity: 0.6
}

.arrowUp{
  opacity: 1
}

.arrowDown{
  opacity: 1;
  transform: rotate(180deg)
}

</style>
