<template>
  <v-data-table
    :headers="selectedHeaders"
    :items="data"
    disable-pagination
    hide-default-header
    hide-default-footer
    item-key="name"
    :loading="loading"
    :class="tableHeight"
  >
    <template
      v-slot:header="{ props }"
    >
      <thead>
        <draggable
          v-model="selectedHeaders"
          :force-fallback="true"
          :fallback-on-body="true"
          :empty-insert-threshold="true"
          tag="tr"
          class="dataTableHeaders"
          @change="headersOrderUpdated($event)"
        >
          <th
            v-for="header in props.headers"
            :key="header.name"
            class="header-draggable"
            :style="{textAlign: header.align || 'left'}"
          >
            <data-table-header-cell
              :header="header"
              @update-order="orderUpdated($event)"
            />
          </th>
          <th
            v-if="!(hideEdit && hideDelete && actionOptions.length === 0) && data.length"
            class="text-center"
            width="100px"
          >
            <span>Ações</span>
          </th>
        </draggable>
      </thead>
    </template>

    <template v-slot:body="props">
      <tbody v-if="props.items.length">
        <tr
          v-for="(row, rowIndex) in props.items"
          :key="`rowIndex${rowIndex}`"
        >
          <td
            v-if="select"
            align="center"
            class="noWrap"
          >
            <v-checkbox
              v-model="selectedRows[rowIndex].value"
              @click="setCheckedRow(rowIndex, selectedRows[rowIndex].value)"
            />
          </td>
          <td
            v-for="(header, key) in selectedHeaders"
            :key="generateKey(rowIndex, row.id, key)"
            :align="header.align || 'left'"
            :width="header.width"
            :class="header.class"
          >
            <component
              :is="header.component || 'DataTableTextColumn'"
              :key="generateKey(rowIndex, row.id)"
              :options="header.options"
              :height="header.height"
              :row="row"
              :value="getPropByString(row, header.value, header.default)"
            />
          </td>
          <td
            v-if="!(hideEdit && hideDelete && actionOptions.length === 0)"
            align="center"
            class="noWrap"
          >
            <v-menu
              offset-y
              class="actionMenu"
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  class="actionMenuButton"
                  v-on="on"
                >
                  <v-icon color="primary">
                    mdi-dots-vertical
                  </v-icon>
                </v-btn>
              </template>
              <v-list dense>
                <v-list-item
                  v-if="!hideEdit"
                  class="dataTableEditButton"
                  @click="onClickEdit(row)"
                >
                  <v-list-item-avatar size="20">
                    <v-icon size="20">
                      mdi-pencil
                    </v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content
                    class="text2 secondary300"
                  >
                    Editar dados
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-for="(item, index) in actionOptions"
                  :key="index"
                  class="dataTableActionOptions"
                  @click="item.handler(row)"
                >
                  <v-list-item-avatar
                    v-if="item.icon"
                    size="20"
                  >
                    <v-icon size="20">
                      {{ getActionOptionIcon(item, row) }}
                    </v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content class="text2 secondary300">
                    {{ getActionOptionName(item, row) }}
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-if="!hideDelete"
                  class="dataTableDeleteButton"
                  @click="onClickDelete(row)"
                >
                  <v-list-item-avatar size="20">
                    <v-icon size="20">
                      mdi-delete
                    </v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content class="text2 secondary300">
                    Excluir dados
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </tbody>
      <tbody
        v-else
      >
        <tr>
          <td
            id="no-items"
            :colspan="props.headers.length"
          >
            <span class="h5Header secondary400 fw600">Listagem vazia</span>
            <p class="mt-2">
              Não existem dados a serem exibidos.
            </p>
          </td>
        </tr>
      </tbody>
    </template>
    <template v-slot:footer>
      <v-container fluid>
        <v-row>
          <v-col
            style="height: 60px; "
            class="d-flex align-center"
          >
            <div class="body1 interface200 d-flex align-center ">
              <span>
                Registros por página:
              </span>
              <span>
                <v-select
                  v-model="pagination.limit"
                  class="rowsPerPageSelect mx-2 pt-3"
                  :items="[15, 30, 60]"
                  dense
                />
              </span>
              <span>
                {{ totalItemsText }} de {{ totalItems }}
              </span>
            </div>
          </v-col>
          <v-col
            style="height: 60px; "
            class="d-flex align-center justify-center"
          >
            <div class="">
              <v-pagination
                v-model="pagination.page"
                :length="pages"
                :total-visible="7"
                circle
              />
            </div>
          </v-col>
          <v-col
            style="height: 60px; "
            class="d-flex align-center justify-end"
          >
            <div>
              <data-table-config
                v-model="selectedHeaders"
                :items="headers"
                :table-headers-key="tableName"
              />
            </div>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </v-data-table>
</template>

<script>
import DataTableConfig from 'Arch/components/data-table/DataTableConfig.vue';
import DataTableCpfCnpjColumn from 'Arch/components/data-table/DataTableColumns/DataTableCpfCnpjColumn.vue';
import DataTableDateColumn from 'Arch/components/data-table/DataTableColumns/DataTableDateColumn.vue';
import DataTableHeaderCell from 'Arch/components/data-table/DataTableHeaderCell.vue';
import DataTableService from 'Arch/components/data-table/DatatableService';
import DataTableTextColumn from 'Arch/components/data-table/DataTableColumns/DataTableTextColumn.vue';
import DataTableTransformValueColumn from 'Arch/components/data-table/DataTableColumns/DataTableTransformValueColumn.vue';
import DataTableCurrencyColumn from 'Arch/components/data-table/DataTableColumns/DataTableCurrencyColumn.vue';
import DataTableImgRow from 'Arch/components/data-table/DataTableColumns/DataTableImgRow.vue';
import DataTableStatusColumn from 'Arch/components/data-table/DataTableColumns/DataTableStatusColumn.vue';
import Draggable from 'vuedraggable';
import Get from 'lodash.get';

export default {
  name: 'DataTable',
  components: {
    DataTableConfig,
    DataTableCpfCnpjColumn,
    DataTableDateColumn,
    DataTableHeaderCell,
    DataTableTextColumn,
    DataTableTransformValueColumn,
    DataTableCurrencyColumn,
    DataTableImgRow,
    Draggable,
    DataTableStatusColumn,
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
    headers: {
      type: Array,
      required: true,
    },
    tableName: {
      type: String,
      default: '',
    },
    hideEdit: {
      type: Boolean,
      default: false,
    },
    hideDelete: {
      type: Boolean,
      default: false,
    },
    totalItems: {
      type: Number,
      default: 0,
    },
    disableSetQueryString: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    actionOptions: {
      type: Array,
      default() {
        return [];
      },
    },
    selectedRows: {
      type: Array,
      default: null,
    },
    select: {
      type: Boolean,
      default: false,
    },
  },
  data(vm) {
    return {
      pagination: {
        page: parseInt(vm.$route.query.page, 10) || 1,
        limit: parseInt(vm.$route.query.limit, 10) || 15,
      },
      selectedHeaders: [],
      selectedAllRows: false,
      statusColumnDefaultMsg: 'DataTableStatusColumn missing a property:',
    };
  },
  computed: {
    pages() {
      if (this.pagination.limit == null || this.totalItems == null) return 0;

      return Math.ceil(this.totalItems / this.pagination.limit);
    },
    totalItemsText() {
      const { pagination } = this;
      const actualRows = pagination.limit * (pagination.page - 1) + 1;
      let show = pagination.limit * pagination.page;
      if (show > this.totalItems) {
        show = this.totalItems;
      }

      return `${actualRows} - ${show}`;
    },
    tableHeight() {
      return !this.data.length ? 'empty-table-height' : '';
    },
  },
  watch: {
    'pagination.page': {
      handler(value) {
        this.$emit('update-page', value);
      },
    },
    'pagination.limit': {
      handler(value) {
        this.$emit('update-rows-per-page', value);
      },
    },
    '$route.query': {
      handler(value) {
        if (value.page && !this.disableSetQueryString) {
          this.pagination.page = parseInt(value.page, 10);
        }
      },
    },
    selectedAllRows: {
      handler(value) {
        this.$emit('select-all', value);
      },
    },
  },
  created() {
    this.unwatch = this.$store.watch((state) => {
      state.crudList.selectedRowsForRemove.forEach(({ value }) => {
        if (value) {
          this.handleDisplayRemoveButton();
        }
      });
    });

    const localHeaders = DataTableService.getHeaders(this.tableName);
    if (localHeaders) {
      this.selectedHeaders = localHeaders;
      const newHeaders = localHeaders.map((header) => {
        const headerCorrespondente = this.headers.find((item) => item.text === header.text);
        if (!headerCorrespondente) {
          return null;
        }
        return {
          ...headerCorrespondente,
          ...header,
        };
      }).filter((item) => item !== null);
      this.selectedHeaders = newHeaders;
    } else {
      this.selectedHeaders = this.headers;
    }
  },
  beforeDestroy() {
    this.unwatch();
  },
  methods: {
    onClickEdit(item) {
      this.$emit('edit', item);
    },
    onClickDelete(item) {
      this.$emit('delete', item);
    },
    generateKey(index, value, prefix = '') {
      return `${prefix}${(index * this.pagination.page) + this.pagination.limit + value}`;
    },
    getPropByString(obj, path, defaultValue = '') {
      return Get(obj, path, defaultValue);
    },
    headersOrderUpdated() {
      DataTableService.saveHeaders(this.tableName, this.selectedHeaders);
    },
    orderUpdated(event) {
      this.$emit('update-order', event);
    },
    getActionOptionName(action, row) {
      if (typeof action.name === 'function') {
        return action.name(row);
      }
      return action.name;
    },
    getActionOptionIcon(action, row) {
      if (typeof action.icon === 'function') {
        return action.icon(row);
      }
      return action.icon;
    },
    setCheckedRow(rowId, rowValue) {
      this.$store.state.crudList.selectedRowsForRemove[rowId].value = rowValue;
    },
    handleDisplayRemoveButton() {
      this.$store.state.crudList.displayRemoveAllRows = true;
    },
    getRowsLenght() {
      return this.$store.state.crudList.selectedRowsForRemove.length;
    },
  },
};
</script>

<style lang="sass">
.theme--light.v-sheet
  color: #999999

.header-draggable
  cursor: grab

.rowsPerPageSelect
  width: 60px

.sortable-drag
  color: rgba(0,0,0,0.54)
  font-weight: normal

.empty-table-height > .v-data-table__wrapper > table
  height: calc(100vh - 430px)

#no-items
  height: 225px
  text-align: center

#no-items td
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 24px
  text-align: center
  letter-spacing: 0.005em
  color: secondary300
</style>
