<template>
  <div class="template-status">
    <v-icon :color="getStatus.color">
      mdi-checkbox-blank-circle
    </v-icon>
    <span>
      {{ getStatus.label }}
    </span>
  </div>
</template>

<script>
export default {
  data: () => ({
    name: 'DataTableStatusColumn',
    templateStatus: {
      1: {
        color: '#3FD65F',
        textColor: 'success',
        label: 'Ativo',
      },
      2: {
        color: '#F15F5F',
        textColor: 'error',
        label: 'Inativo',
      },
    },
    templates: null,
    comparatives: null,
    defaultValue: true,
  }),
  computed: {
    getStatus() {
      if (this.comparatives.length) {
        this.comparatives.forEach((comparative, position) => {
          if (comparative === this.templates[position].name) {
            return this.templates[position];
          }
          return true;
        });
      }
      return this.templateStatus[this.defaultValue];
    },
  },
};
</script>

<style scoped>
.template-status > .v-icon {
  font-size: 0.8em;
  margin-right: 8px;
  margin-top: -0.2em;
}

.template-status span {
  margin-top: 5px;
}
</style>
