<template>
  <div
    v-if="value.length == 11"
    class="noWrap"
  >
    {{ value | CpfFilter }}
  </div>
  <div
    v-else
    class="noWrap"
  >
    {{ value | CnpjFilter }}
  </div>
</template>

<script>
import CpfFilter from 'Arch/filters/CpfFilter';
import CnpjFilter from 'Arch/filters/CnpjFilter';

export default {
  name: 'DataTableCpfCnpjColumn',
  filters: { CnpjFilter, CpfFilter },
  props: {
    value: {
      type: [String, Number],
      default: '',
    },
  },
};
</script>
