<template>
  <div>
    <!-- <v-btn
      outlined
      color="white"
      @click="dialog = true"
    >
      <v-icon
        left
      >
        mdi-filter-variant
      </v-icon>
      <span class="button secondary500">{{ buttonLabel }} TODO</span>
    </v-btn> -->
    <sidebar-dialog
      v-model="dialog"
      :title="title"
    >
      <v-form
        ref="filterTemplateForm"
        class="fill-height"
        @submit.prevent="filter()"
      >
        <div class="d-flex flex-column justify-space-between fill-height">
          <slot />
          <v-spacer />
          <v-btn
            color="primary"
            height="48px"
            type="submit"
          >
            <span class="button">xxxx</span>
          </v-btn>
        </div>
      </v-form>
    </sidebar-dialog>
  </div>
</template>

<script>
import SidebarDialog from 'Arch/template/SidebarDialog.vue';

export default {
  name: 'FilterTemplate',
  components: { SidebarDialog },
  props: {
    title: {
      type: String,
      default: 'Dados',
    },
    buttonLabel: {
      type: String,
      default: 'Dados',
    },
  },
  data() {
    return {
      dialog: false,
    };
  },
  created() {
    this.$root.$on('open-dialog', (data) => {
      this.dialog = true;
      console.log(data);
    });
  },
  methods: {
    filter() {
      if (!this.$refs.filterTemplateForm.validate()) {
        return;
      }
      this.$emit('submit');
      this.dialog = false;
    },
  },
};
</script>
