<template>
  <v-col>
    <v-container grid-list-xs>
      <v-row>
        <v-col
          v-if="title"
          cols="3"
        >
          <span class="h2Header secondary300">{{ title }}</span>
        </v-col>
        <v-col>
          <v-container
            class="pa-0"
          >
            <slot />
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-col>
</template>

<script>

export default {
  name: 'FormGroup',
  props: {
    title: {
      type: String,
      default: '',
    },
  },
};
</script>
