<template>
  <button-primary
    :text="btnText"
    type="submit"
    flex-row-reverse
    :disabled="totalItens === 0"
    @click="confirmTerminate()"
  />
</template>
<script>
import NotificationMixin from '@/app/arch/mixins/NotificationMixin';
import RouterMixin from '@/app/arch/mixins/RouterMixin';
import ButtonPrimary from 'Arch/components/Buttons/ButtonPrimary.vue';

export default {
  name: 'TerminateAccount',
  components: { ButtonPrimary },
  mixins: [NotificationMixin, RouterMixin],
  data: () => ({
    requestClass: '',
    dialogTitle: '',
    dialogText: '',
    totalItens: 0,
    btnText: '',
    successMessage: '',
    crudListName: '',
  }),
  created() {
    this.$root.$on(`total-itens-${this.crudListName}`, (data) => {
      this.totalItens = data;
    });
  },
  methods: {
    confirmTerminate() {
      this.confirmacao(
        this.dialogTitle,
        this.handleSetRepleceItens(this.dialogText),
        this.terminateCallback,
      );
    },
    handleSetRepleceItens(message) {
      return message.replace('{count}', `${this.totalItens}`);
    },
    confirmacao(title, text, callback) {
      this.showConfirmDialog({
        title,
        text,
      }).then((data) => {
        if (data.value) {
          callback();
        }
      });
    },
    terminateCallback() {
      const payload = this.$route.query;

      if (payload.page) {
        delete payload.page;
      }

      this.callService(
        this.successMessage,
        this.requestClass.terminateCsv(),
      );
    },
    callService(message, request) {
      const loader = this.$loading.show();
      request.then((res) => {
        this.successRequestCallBack(res, message);
      }).catch((err) => {
        this.showErrorToast({
          text: err.data.message,
        });
      }).finally(() => {
        this.$root.$emit(`refresh-crud-${this.crudListName}`, {});
        loader.hide();
      });
    },
    successRequestCallBack(res, message) {
      this.makeTerminateResponse(res);
      this.showSuccessToast({
        text: message,
      });
    },
    makeTerminateResponse(response) {
      const blob = new Blob([response.data], { type: 'application/vnd.ms-excel;charset=utf-8' });
      const fileName = response.headers['content-disposition'].split('filename=')[1].split(';')[0];

      this.makeExported(blob, fileName);
    },
    makeExported(data, name) {
      const link = document.createElement('a');
      link.download = name;
      link.href = URL.createObjectURL(data, { type: 'text/plain' });
      link.click();
      URL.revokeObjectURL(link.href);
    },
  },

};
</script>
