<template>
  <v-row>
    <v-col cols="12">
      <v-layout>
        <v-carousel
          cycle
          show-arrows-on-hover
        >
          <v-carousel-item
            v-for="(item,i) in items"
            :key="i"
            :src="item.src"
            reverse-transition="fade-transition"
            transition="fade-transition"
          >
            <v-row
              class="textPosition"
            >
              <v-col>
                <v-row>
                  <v-col :cols="item.titleCols">
                    <span class="text-h4 white--text">
                      {{ item.title }}
                    </span>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col :cols="item.paragraphCols">
                    <div class="text-h6 font-weight-thin white--text">
                      {{ item.paragraph }}
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-carousel-item>
        </v-carousel>
      </v-layout>
    </v-col>
    <v-col
      class="mt-8"
      cols="12"
    >
      <v-container>
        <v-row class="mb-8 ml-4">
          <v-cols cols="12">
            Promoções
          </v-cols>
        </v-row>
        <v-row>
          <v-col cols="4">
            <v-card>
              <v-img
                :src="require('Assets/caixa.jpg')"
                height="300"
                class="mb-4"
              />
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card>
              <v-img
                :src="require('Assets/caixa.jpg')"
                height="300"
                class="mb-4"
              />
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card>
              <v-img
                :src="require('Assets/caixa.jpg')"
                height="300"
                class="mb-4"
              />
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
    <v-col
      class="mt-8"
      cols="12"
    >
      <v-container>
        <v-row class="mb-8 ml-4">
          <v-cols cols="12">
            Produtos frequentes
          </v-cols>
        </v-row>
        <v-row>
          <v-col cols="4">
            <v-card>
              <v-img
                :src="require('Assets/caixa.jpg')"
                height="300"
                class="mb-4"
              />
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card>
              <v-img
                :src="require('Assets/caixa.jpg')"
                height="300"
                class="mb-4"
              />
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card>
              <v-img
                :src="require('Assets/caixa.jpg')"
                height="300"
                class="mb-4"
              />
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
    <v-sheet height="600" />
  </v-row>
</template>

<script>
import first from 'Assets/tigre-home-first.jpg';
import second from 'Assets/tigre-home-second.png';

export default {
  name: 'Home',
  data() {
    return {
      user: '',
      items: [
        {
          src: first,
          title: 'Sea desde Casa o desde la Fábrica',
          paragraph: 'El Grupo Tigre es una vez más reconocido como Great Place to Work. Nuestra misión es ser, además de empresa, un excelente hogar para trabajar y crecer. Y eso nos enorgullece mucho.',
          titleCols: 5,
          paragraphCols: 5,
        },
        {
          src: second,
          title: 'NOS ACERCAMOS AL FUTURO PARA ACERCARTE A TUS PEDIDOS',
          paragraph: 'Presentemos la nueva herramienta tecnológica para entregas seguras',
          titleCols: 7,
          paragraphCols: 6,
        },
      ],
    };
  },
};
</script>

<style scoped>
.textPosition {
    top: 10vh;
    left: 10vh;
    position: absolute;
}
</style>
